.default {
	font-family: "Inter var", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
}



.content {

	height: 100%;
	margin-left: 3%;
	margin-right: 3%;
	padding-bottom: 50px;
	background-color: white;

	min-height: 80vh;
	padding: 8px;

	font-family: "Inter var", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;

}



// Highlight region
.highlight {
	background-color: #c9f9dd;
	padding: 8px;
	margin: -8px;

	h1 {
		color: #e22658;
		font-size: 3rem;
	}
}


// Footer

.footer {
	padding: 4px;
	padding-left: 2em;
	height: 32px;
	background-color: lightgray;
	color: black;
	text-align: left;
}

// Text box

.box {
	border: thick double black;
	margin-left: 3em;
	margin-right: 3em;
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: center;
}



body {
	background-color: #ddd;
	margin: 0;
}

img {
	max-width: 85%;
}

// ---- COLUMNS

.cols {
	columns: 25rem 2;

	h3 {
		margin-top: 0;
	}
}

.cols_narrow {
	columns: 15rem 4;
}

.narrow {
	max-width: 40em;
	margin: 0 auto;
}

.block {
	display: inline-block;
	width: 100%;
	margin-bottom: 8px;
}

//library

.library {
	font-family: "Inter var", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;

	.system {
		font-size: larger;

	}
}


// footnotes

.footnote-definition p {
	display: inline;
}

/* Create a sticky/fixed navbar */
#navbar {
	overflow: hidden;
	background-color: #f1f1f1;
	/* Adds a transition effect when the padding is decreased */

	/* Sticky/fixed navbar */
	padding-right: 50px;

	/* At the top */
	z-index: 99;

	/* Style the navbar links */
	a {
		float: left;
		color: black;
		text-align: center;
		padding: 12px;
		text-decoration: none;
		font-size: 18px;
		line-height: 25px;
		border-radius: 4px;
	}

	/* Links on mouse-over */
	a:hover {
		background-color: #b4b4b4;
		color: black;
	}

	/* Style the logo */
	#logo {
		font-size: 35px;
		font-weight: bold;
	}

	/* Style the active/current link */
	a.active {
		background-color: dodgerblue;
		color: white;
	}
}


/* Display some links to the right */
#navbar-right {
	padding-right: 50px;
	float: right;
}




/* Add responsiveness - on screens less than 580px wide, display the navbar vertically instead of horizontally */
@media screen and (max-width: 580px) {
	#navbar {
		padding: 20px 10px !important;
		/* Use !important to make sure that JavaScript doesn't override the padding on small screens */
	}


	#navbar div {
		float: none;
		display: block;
		text-align: left;
	}

	#navbar-right {
		float: none;
	}
}

// https://stackoverflow.com/questions/1225130/how-can-i-align-text-directly-beneath-an-image

.img-with-text {
	width: 200px;
}

.img-with-text img {
	display: block;
	margin: 0 auto;
}