html *,
{
font-family: 'Century Schoolbook', serif;
}

p {
	text-indent: 30px;
	margin: 0;
}

ol p {
	text-indent: 0px;
}

h3 {
	margin-top: 0;
}

h2 {
	margin-bottom: 0;
}


@font-face {
	font-family: Deutschische;
	src: url(history/Deutschische.otf);
}

.gothic * {
	font-family: "Deutschische";
	font-size: 1.5rem;
}

.cyber * {
	font-family: "Courier";
}

.cyber,
.gothic {
	margin-top: 15px;
	margin-bottom: 15px;
}

.std *,
.std {
	font-family: 'Century Schoolbook', serif;

	font-size: 1rem;
}