@import url('global.css');

.content {
	font-family: 'MS Serif Regular', serif;

}

.signoff {
	font-family: 'Bradley Hand ITC', cursive;
	font-size: 1.5em;
}

.credit,
.credit * {
	font-family: 'Courier New', Courier, monospace;
	font-size: 0.7rem;
}

.content h1,
.content h2 {
	text-align: center
}

.content h3 {
	margin-bottom: 0;
}

.content p {
	margin-top: 0;
}

.contents {

	display: block;
}


.contents dt {
	float: left;
	width: 300px;
	overflow: hidden;
	white-space: nowrap
}

.contents dd {
	margin: 0;
	overflow: hidden;
}

.contents dt:after {
	content: " ...................................................................................................................."
}