<!DOCTYPE html>
<html lang="en">


<head>
	<meta charset="utf-8">
	<title>CURTS</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="google-site-verification" content="TW84hOVPS8RJv4BORhZkL8myDy06x3Rqlm7KrkqFYM0">
	{% block head %}
	<link rel="stylesheet" href="/default.css">
	{% endblock %}
</head>

<body class="page_back">

	<div class="default" id="navbar">
		<a href="/"><img src="/logo-wide.png" width="200" /></a>
		<p> Cambridge University Roleplaying and Tabletop gaming Society</p>

		<div id="navbar-right">
			<a href="{{ get_url(path='@/about-us/membership.md') }}">Membership</a>
			<a href="{{ get_url(path='@/about-us/constitution.md') }}">Constitution</a>
			<a href="{{ get_url(path='@/games-resources/library.md') }}">Library</a>
			<a href="{{ get_url(path='@/committee/_index.md') }}">Committee</a>
			<a href="{{ get_url(path='@/history/_index.md') }}">History</a>
		</div>
	</div>

	<article class="content">
		{% block content %} {% endblock %}
	</article>

	<footer class="footer">
		{% block footer %} {% endblock %}
	</footer>
</body>

</html>