{% extends "section.html" %}

{% block content %}


<hr />
<div class="highlight">
	<h1>Welcome to CURTS</h1>

	<p> Welcome to the <strong>Cambridge University Roleplaying and Tabletop gaming Society</strong> (CURTS) website. </p>

	<p>CURTS is the University of Cambridge's largest student group dedicated to tabletop roleplaying, strategy and trading card games. </p>

	<p> Find us around the web: </p>

	<div class="links">
		<!--<a href="https://www.facebook.com/groups/1563740140511695"><img src="/facebook.png" width="64" height="64" /></a>-->
		<!-- <a href="https://www.twitch.tv/curtslive"><img src="/twitch.png" width="64" height="64" /></a> -->
		<a href="https://www.instagram.com/cambridgetabletoprpg/"><img src="/instagram.png" width="64" height="64" /></a>
		<a href="https://discord.gg/RRMxEVtBwg"><img src="/discord.png" width="64" height="64" /></a>
	</div>

</div>

<hr />
<h2> Events</h2>

<div class="cols">

	<div class="block">

		<h3> Yearly Squash</h3>
		<p> During Fresher's Week at the start of the academic year, Cambridge's student
			societies hold introductory events known as "squashes" so freshers can explore
			their options and determine how they wish to spend their precious free time.
			CURTS is no exception. </p>

	</div>

	<div class="block">

		<h3> Guild of Heroes, Rapscallions and Allied Trades</h3>
		<p>Each term we host four bi-weekly one-shot sessions on Saturday afternoons (and also online if that's
			what you prefer). These sessions comprise of a number of different RPG systems and are connected by a loose "canon" that culminates in our 24hr game at the end of the year. 
		</p>
	</div>

	<div class="block">

		<h3> Pub Nights</h3>
		<p>
			Pub nights are laid-back events where our members can chill out and get to know one another away from the gaming table. Conversation ranges from stories around the gaming table to political discussion, so it's a great way to unwind as the university working week comes to a close.
		</p>
	</div>

</div>

<hr />
For more information, see <a href="{{get_url(path='@/about-us/what-we-do.md')}}">what we do</a>. {% endblock content %}
