{% extends "base.html" %}

{% block content %}
<h1 class="title">
	{{ section.title }}
</h1>

{{ section.content | safe }}


{% block listings %}
<ul>

	{% if section.reversed %}
	{% set pgs = section.pages|reversed %}
	{%else%}
	{% set pgs = section.pages %}
	{%endif%}

	{% for page in section.pages %}

	<li><a href="{{ page.permalink | safe }}">{{ page.title }}</a></li>

	{% endfor %}
</ul>
{% endblock %}




{% endblock %}

{% block footer %}
<p class="subtitle">Last updated <strong>{{ section.extra["date"] }}</strong> by {{ section.extra["author"] }}</p>
{% endblock %}